body {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sound-wave {
  display: none;
}

.mapwrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.post-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  z-index: 1;
}

/* .popup {
  max-height: 400px;
} */

.chatContainer {
  height: 200px;
  overflow: auto;
  overflow-x: hidden;
}

/* .repyContainer {
  overflow: auto;
  overflow-x: hidden;
} */

.audContainer {
  padding-bottom: 7px;
}
